<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <link rel="stylesheet" href="../css/products.css" />
    <title>RobinCode</title>
  </head>
  <body>
    <!-- Header -->
    <header-component></header-component>
    <!-- End Header -->

    <!-- Our Products Section -->
    <section class="our-products">
      <div class="our-products-header">
        <h1>OUR PRODUCTS</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="186"
          height="35"
          viewBox="0 0 186 35"
          fill="none"
        >
          <path
            d="M84.2483 3.97549C65.627 8.30883 22.7981 19.9755 0.452637 31.9755C56.9814 37.3088 173.231 39.1755 186 3.97549C168.044 0.975492 122.555 -3.22451 84.2483 3.97549Z"
            fill="#EBD96B"
          />
        </svg>
      </div>

      <div class="products-container">
        <div class="top-menu-products">
          <ul class="menu-products">
            <li>
              <a href="#" data-filter="all" class="active">All Products</a>
            </li>
            <li><a href="#" data-filter="t-shirt">T-shirt</a></li>
            <li><a href="#" data-filter="hoodie">Hoodie</a></li>
            <li><a href="#" data-filter="jacket">Jacket</a></li>
            <li><a href="#" data-filter="shirt">Shirt</a></li>
            <li><a href="#" data-filter="coats">Coats</a></li>
          </ul>
        </div>
      </div>

      <!-- Kontainer produk -->
      <div class="products" id="product-container"></div>
    </section>

    <!-- End Our Products Section -->

    <!-- Footer -->
    <footer-component></footer-component>
    <!-- End Footer -->

    <!-- Scroll To Top Button -->
    <scroll-button></scroll-button>

    <!-- script -->
    <script src="../script/products.js"></script>
    <script src="../components/header.js" type="text/javascript" defer></script>
    <script src="../components/footer.js" type="text/javascript" defer></script>
    <script src="../components/scroll-button.js"></script>
  </body>
</html>
